body {
    margin: 0;
    display: flex;
    flex-direction: column;
}


.title-img-placeholder{
    background-color:gray;
}

.banner-container,
.footer {
    background-color: #1F2837;
}

.banner-container {

    display: flex;
    flex-direction: column;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8
}

.nav-link,
.title-img-placeholder,
.title p,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}

.nav-link{
    padding: 10px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
}

.sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote-container{
    background-color: #E5E7EB;
}

.quote{
    font-weight: 36px;
    font-style: oblique;
    color: #1F2937;
}

.sign-up-banner{
    background-color: #3882F6;
    color: #F9FAF8;
}

.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:0 100px;
}

.title-container{
    display: flex;
    justify-content: space-between;
    padding:0 100px;
    margin-bottom: 30px;
}

.title{
    display: flex;
    flex-direction: column;
}